tenancy_ocid     = "ocid1.tenancy.oc1..example"
region           = "us-phoenix-1"
compartment_ocid = "ocid1.compartment.oc1..example"
ssh_public_key   = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC..."

# Example: pILZ:PHX-AD-1
availability_domain = "REPLACE-ME"

namespace   = "kove"
environment = "dev"
stack_name  = "oke"

vcn_cidr_block = "10.20.0.0/16"

tags = {
  owner = "platform-team"
}
